# OS
.DS_Store

# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
/dist/
/build/
client/dist/
server/dist/

# Logs
*.log
logs/
server/logs/

# Env files
.env
.env.*

# Backups
*.backup
